header.admin__header Панель администрирования
ul.admin__menu
    li.admin__menu-item
        a(href="/admin/blog") Блог
    li.admin__menu-item
        a(href="/admin/skills") Мои навыки
    li.admin__menu-item
        a(href="/admin/works") Мои работы