extends layout

block content
    .wrapper-start
        .parallax_layer
            img(src='images/parallax/Layer-5.png').sky
        .parallax_layer
            img(src='images/parallax/Layer-8.png')
        .parallax_layer
            img(src='images/parallax/Layer-7.png')
        .parallax_layer.cloud3
            img(src='images/parallax/sky3.png')
        .parallax_layer
            img(src='images/parallax/Layer-6.png')
        .parallax_layer
            img(src='images/parallax/Layer-4.png')
        .parallax_layer.cloud2
            img(src='images/parallax/sky1.png')
        .parallax_layer
            img(src='images/parallax/Layer-2.png')
        .parallax_layer
            img(src='images/parallax/Layer-1.png')
        .parallax_layer.cloud1
            img(src='images/parallax/sky2.png')


        .welcome__flipper#welcomeFlipper
            include common/authorization
            include common/welcome
        footer.footer-start
            .footer-start__content © Артем Боюр | создано с любовью в LoftSchool | 2016

        a(href='#').auth-btn#authBtn Авторизоваться