extends layout

block content
    .wrapper-start
        .welcome__flipper#welcomeFlipper
            include common/authorization
            include common/welcome
        footer.footer-start
            .footer-start__content © Артем Боюр | создано с любовью в LoftSchool | 2016

        a(href='#').auth-btn#authBtn Авторизоваться