extends layout

block content
    .wrapper-start
        .parallax_layer
            img(src='images/parallax/layer-5.png').sky
        .parallax_layer
            img(src='images/parallax/layer-8.png')
        .parallax_layer
            img(src='images/parallax/layer-7.png')
        .parallax_layer
            img(src='images/parallax/layer-6.png')
        .parallax_layer
            img(src='images/parallax/layer-4.png')
        .parallax_layer
            img(src='images/parallax/layer-2.png')
        .parallax_layer
            img(src='images/parallax/layer-1.png')

        .welcome__flipper#welcomeFlipper
            include common/authorization
            include common/welcome
        footer.footer-start
            .footer-start__content © Артем Боюр | создано с любовью в LoftSchool | 2016

        a(href='#').auth-btn#authBtn Авторизоваться