.footer
    .footer__top
        .footer__top-left
            ul
                li
                    a(href='#') Мои работы
                li
                    a(href='#') Обо мне
                li
                    a(href='#') Блог
                li
                    a(href='#') Авторизация
        .footer__top-right
            .social.social--footer
                a(href='#')
                    i(class="fa fa-vk" aria-hidden="true")
                a(href='#')
                    i(class="fa fa-github-alt" aria-hidden="true")
                a(href='#')
                    i(class="fa fa-linkedin" aria-hidden="true")
    .footer__buttom
        .footer__buttom-left.
            Я веб-разработчик из Новороссийска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__buttom-right.
            © Артем Боюр | создано с любовью в LoftSchool | 2016