.welcome#welcomeBlock
    .welcome__main
        .user__avatar
            img.user__avatar-img(src="images/welcome/avatar.jpg")
        .user__title.user__title--black Артем Боюр
        .user__text.user__text--black Личный сайт веб разработчика

        .welcome__social
            a(href='#')
                i(class="fa fa-vk" aria-hidden="true")
            a(href='#')
                i(class="fa fa-github-alt" aria-hidden="true")
            a(href='#')
                i(class="fa fa-linkedin-square" aria-hidden="true")

    .start__btns
        a(href='works.html').start__btn Мои работы
        a(href='about.html').start__btn Обо мне
        a(href='blog.html').start__btn Блог