- var page = 'Артем Боюр'

extends ../layout

block content
    .wrapper
        header.header
            include ../common/header

            .header__triangle
                .header__triangle-svg
                    include ../../source/icons/triangle-about.svg
                .arrow-down-little
                    a(href='#about')
                        include ../../source/icons/arrow_down.svg

        .about.clearfix#about
            .about__left
                .big__title.title-medium--about
                    .title-dashes__bg.title-dashes__bg--about
                        include ../../source/icons/about_header.svg
                    .title-dashes.title--bg Обо мне
                .about__me
                    img.about__me-img(src="images/welcome/avatar.jpg")
                    .title-medium.title-dashes Кто я
                    .about__text.
                        Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

            .about__right
                .title-medium.title-dashes.title-dashes--double Чем я могу быть вам полезен
                .about__text.
                    Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                .skills
                    .skill__row
                        // --- Frontend --- //
                        .skill__row-title Frontend
                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[0] ? data[0].value : 0) + " 100").circle-diagrams
                            .skill__title HTML5

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[1] ? data[1].value : 0) + " 100").circle-diagrams
                            .skill__title CSS3

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[2] ? data[2].value : 0) + " 100").circle-diagrams
                            .skill__title JavaScript& jQuery
                    // --- Backend --- //
                    .skill__row
                        .skill__row-title Backend
                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[3] ? data[3].value : 0) + " 100").circle-diagrams
                            .skill__title PHP

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[4] ? data[4].value : 0) + " 100").circle-diagrams
                            .skill__title mySQL

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[5] ? data[5].value : 0) + " 100").circle-diagrams
                            .skill__title Node.js& npm

                    .skill__row
                        // --- WorkFlow --- //
                        .skill__row-title WorkFlow
                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[6] ? data[6].value : 0) + " 100").circle-diagrams
                            .skill__title Git

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[7] ? data[7].value : 0) + " 100").circle-diagrams
                            .skill__title Gulo

                        .skill__item
                            svg(viewBox="0 0 32 32")
                                circle(r="16" cx="16" cy="16").circle
                                circle(r="16" cx="16" cy="16" stroke-dasharray=(data[8] ? data[8].value : 0) + " 100").circle-diagrams
                            .skill__title Bower

        .map
            .map__api#map
            .map__contact
                .title-medium.title-dashes Контакты
                ul.map__contact-list
                    li.map__contact-item
                        i(class="fa fa-skype" aria-hidden="true")
                        | boyurartem

                    li.map__contact-item
                        i(class="fa fa-envelope" aria-hidden="true")
                        | gboyur@gmail.com

                    li.map__contact-item
                        i(class="fa fa-phone" aria-hidden="true")
                        | +7 928 260 10 42

                    li.map__contact-item
                        i(class="fa fa-map-marker" aria-hidden="true")
                        | г.Новороссийск, ул.Видова, д.176а




        include ../common/footer