extends ../layout

block content
    .wrapper
        header.header
            .header__top
                .social.social--header
                    a(href='#')
                        i(class="fa fa-vk" aria-hidden="true")
                    a(href='#')
                        i(class="fa fa-github-alt" aria-hidden="true")
                    a(href='#')
                        i(class="fa fa-linkedin-square" aria-hidden="true")
                .nav.nav--main#nav
                    .nav__trigger#navTrigger
                        .nav__trigger-line
                        .nav__trigger-line
                        .nav__trigger-line
                    .nav__drop#navOpen
                        .nav__list
                            .nav__item
                                a(href="works.html").nav__link.title.title-dashes.title-dashes--white
                                    | Мои работы
                            .nav__item
                                a(href="about.html").nav__link.title.title-dashes.title-dashes--white
                                    | Обо мне
                            .nav__item
                                a(href="blog.html").nav__link.title.title-dashes.title-dashes--white
                                    | Блог
                            .nav__item
                                a(href="/").nav__link.title.title-dashes.title-dashes--white
                                    | Главная

            .header__main
                .header__title.header__title--blog
                    .user__avatar
                        img.user__avatar-img(src="images/welcome/avatar.jpg")
                    .big__title.title--blog
                        .title-dashes__bg
                            include ../../source/icons/blog_header.svg
                        .title-dashes.title-dashes--white.title--bg.title--bg-blog Блог

            .header__triangle
                .header__triangle-svg
                    include ../../source/icons/triangle-blog.svg
                .arrow-down-little
                    a(href='#blog')
                        include ../../source/icons/arrow_down.svg

        section.blog#blog
            aside.blog__menu#blogMenu
                ul.menu#menuList
                    li.menu__item.menu__item--active
                        a(href="#article-0").menu__link Самое важное в SASS
                    li.menu__item
                        a(href="#article-1").menu__link Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.menu__item
                        a(href="#article-2").menu__link Все что нужно зать о Gulp
                    li.menu__item
                        a(href="#article-3").menu__link Что такое FlexBox
                .blog__menu-trigger

            .blog__content#blogContent
                each item, id in data
                    article.article(id="article-#{id}")
                        .title-medium= item.title
                        .article__data= item.date
                        .article__content= item.body

                //article.article#article-2
                //    .title-medium Самое важное в SASS
                //    .article__data 22 ноября 2016
                //    .article__content
                //        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия
                //        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                //
                //article.article#article-3
                //    .title-medium Самое важное в SASS
                //    .article__data 22 ноября 2016
                //    .article__content
                //        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия
                //        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                //
                //article.article#article-4
                //    .title-medium Самое важное в SASS
                //    .article__data 22 ноября 2016
                //    .article__content
                //        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия

        include ../common/footer

